body {
  background: #ADD8E6;
  font-family: 'Indie Flower', cursive;

  min-width: 600px;
  min-height: 500px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

h1{
  color: white;
  font-size:80px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
* html .ui-autocomplete {
  height: 200px;
}

#title{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#friendsearch > input{
  width: 370px;
}

#wrapper {
    /*background: #e7e7e7;*/
    padding: 5px;
    text-align: center;
    width: 600px;  
}

#yoToggle, #usernameinput {
     /*background: #ccc;*/
     display: inline-block;    
     padding: 5px;   
}
