body {
  background: #7AFF5A;
  font-family: arial;
	min-width: 357px;
	min-height: 500px;
	overflow-x: hidden;
}

img {
	margin: 5px;
	border: 2px solid black;
	vertical-align: middle;
	width: 75px;
	height: 75px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
* html .ui-autocomplete {
  height: 200px;
}