<!doctype html>
<html>
  <head>
    <title>Klats</title>
     <link rel="stylesheet" href="../static/css/bootstrap.css">
     <link rel="stylesheet" href="../static/css/jquery-ui.css">
     <link rel="stylesheet" href="../static/css/main.css">
     <script src="../static/js/jquery-2.1.1.min.js"></script>
     <script src="../static/js/jquery-ui.js"></script>
     <script src="../static/js/main.js"></script>
     <script src="../static/js/highcharts.js"></script>
     <script src="../static/js/popup.js"></script>
	   <script src="../static/js/map.js"></script>
	   <script src="../static/js/data.js"></script>

  </head>
  <body>
    <h1 align="center">Triends</h1>
<!-- <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
  </label>
</div> -->

    <div id="friendsearch" class="ui-widget" align="center">
      <input id="tags">
    </div>

  <div id="wrapper">
    
    <div id="yoToggle" class="btn-group">
      <button type="button" class="btn btn-default">On</button>
      <button type="button" class="btn btn-default">Off</button>
    </div>
    
    <div id="usernameinput" class="ui-widget" align="center">
        <input id="yo_user">
    </div><br>
  </div>
  
  <div id = "wrapper">
    <button id="addFriend" class="btn btn-info" type="button"> <span class="glyphicon glyphicon-plus"></span> </button>
    <button id="removeFriend" class="btn btn-info" type="button"> <span class="glyphicon glyphicon-minus"></span> </button>
  </div>
  
  <div id="container"></div>

  <div id="container"></div>

  </body>
</html>


