<!doctype html>
<html>
  <head>
    <title>Getting Started Extension's Popup</title>
    <style>
      body {
        min-width: 357px;
        min-height: 700px;
        overflow-x: hidden;
      }

      img {
        margin: 5px;
        border: 2px solid black;
        vertical-align: middle;
        width: 75px;
        height: 75px;
      }
    </style>

     <link rel="stylesheet" href="../static/css/jquery-ui.css">
     <link rel="stylesheet" href="../static/css/main.css">
     <script src="../static/js/jquery-2.1.1.min.js"></script>
     <script src="../static/js/jquery-ui.js"></script>
     <script src="../static/js/main.js"></script>
  </head>
  <body>
    <h1> Facebook Friends </h1>
    <div class="ui-widget">
      <label for="tags">Tags: </label>
      <input id="tags">
    </div>
</form>
  </body>
</html>


